---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const PROJECTS = [
  {
    title: "Multiservicios APC",
    description:
      "Página Web desarrollada para la empresa MULTISERVICIOS APC, ubicada en la ciudad de Neiva, Colombia. Su desarrollo fue realizado con HTML, CSS y Javascript. ",
    link: "https://multiservicios-apc.netlify.app/",
    image: "/projects/multiserviciosAPC.webp",
  },

  {
    title: "AppSalon - Aplicación para salón de belleza",
    description:
      "Proyecto de citas para salón de belleza, elaborado en PHP, Gulp, Sass, bajo el paradigma MVC",
    link: "https://app-salon-joel.netlify.app/",
    github: "https://github.com/JPalacio3/appsalonMVC",
    image: "/projects/APP-Peluqueria.webp",
  },

  {
    title:
      "Contador de Calorías - Aplicación para controlar consumo y gasto energético",
    description:
      "Proyecto de Contador de calorías, elaborado en React, Typescript, Tailwind CSS.",
    link: "https://contadordecalorias.netlify.app/",
    github: "https://github.com/JPalacio3/Contador-de-Calorias-React-Ts",
    image: "/projects/APP-calorias.webp",
  },

  {
    title:
      "Control de Gastos - Aplicación para controlar gastos y presupuestos",
    description:
      "Aplicación de control de gastos, elaborado en React, Typescrypt, tailwind, useReducer y contextAPI.",
    link: "https://controlde-gastos.netlify.app/",
    github: "https://github.com/JPalacio3/control-de-gastos",
    image: "/projects/planificador-de-gastos-web.webp",
  },

  {
    title:
      "Cotizador de Criptomonedas - Aplicación de cotización de criptomonedas en tiempo real",
    description:
      "Proyecto de cotizador de criptomendas elaborado en JS, usa el enfoque de promesas para resolver solicitudes de red provenientes de API proveida por cryptocompare.com.",
    link: "https://cotizador-de-criptomonedas-js.netlify.app/",
    github: "https://github.com/JPalacio3/Cotizador-de-Criptomonedas",
    image: "/projects/cotizador-crypto.webp",
  },

  {
    title:
      "Clima Mundial - Aplicación para consultar el clima mundial en tiempo real",
    description:
      "Clima Mundial es una aplicación web que permite a los usuarios consultar el clima actual de cualquier ciudad del mundo. La aplicación utiliza la API de OpenWeatherMap para obtener datos meteorológicos en tiempo real, incluyendo temperatura, condiciones climáticas y más.",
    link: "https://clima-mundial-jp.netlify.app/",
    github: "https://github.com/JPalacio3/clima-react-ts",
    image: "/projects/clima.webp",
  },

  {
    title: "Si quieres aprender Javascript, te comparto este repositorio.",
    description:
      "En este repositorio encontrarás una extensa documentación que he creado sobre javascript, ¡Incluye un enlace a un Notion en el que puedes adquirir o repasar conceptos importantes sobre este lenguaje!",

    github: "https://github.com/JPalacio3/Javascript_course",
    image: "/projects/notion.webp",
  },

  {
    title:
      "Esta y muchas otras cosas más, las puedes encontrar en mi cuenta de GitHub",
    description:
      "Toma lo que necesites, úsalo, o mejor aún, contrátame para desarrollar muchas otras cosas que hagan más eficiente tus procesos profesionales o la publicidad en la web de tu empresa o negocio.",

    github: "https://github.com/JPalacio3",
    image: "/projects/github.webp",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
      <article
        class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
        id="proyectos"
      >
        <div class="w-full md:w-1/2 ">
          <div
            class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition
           duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl
           md:group-hover:-translate-y-2 md:group-hover:shadow-2xl lg:border lg:border-gray-800
           lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
          >
            <img
              alt={` ${title}`}
              class="object-cover object-top w-full h-56 sm:h-full md:h-64 lg:h-80 transition-transform
              duration-500 ease-in-out md:group-hover:scale-105 lg:hover:shadow-2xl
               lg:hover:shadow-gray-700"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
